spring:
  security:
    oauth2:
      client:
        provider:
          okta:
            issuer-uri: ???
        registration:
          okta:
            client-id: ???

springdoc:
  swagger-ui:
    oauth:
      client-id: ???

user-cache:
  users:
    - name: ???
      password: ???
      roles:
        - APPLICATION_MONITOR