api:
  env:
    SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_OKTA_ISSUER_URI: "???"
    SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_OKTA_CLIENT_ID: "???"
    SPRINGDOC_SWAGGER_UI_OAUTH_CLIENT_ID: "???"

bff:
  env:
    SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_OKTA_ISSUER_URI: "???"
    SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_OKTA_CLIENT_ID: "???"
    HELLO_OKTA_API_CLIENT_RUN_AS_DETAILS_CLIENT_ID: "???"
    HELLO_OKTA_API_CLIENT_RUN_AS_DETAILS_CLIENT_SECRET: "???"
    SPRINGDOC_SWAGGER_UI_OAUTH_CLIENT_ID: "???"
