spring:
  security:
    oauth2:
      client:
        provider:
          okta:
            issuer-uri: ???
        registration:
          okta:
            client-id: ???

hello-okta-api:
  client:
    run-as-details:
      client-id: ???
      client-secret: ???