spring:
  security:
    oauth2:
      client:
        provider:
          okta:
            issuer-uri: ???
        registration:
          okta:
            client-id: ???

cors:
  allowed-origins:
    - http://localhost:3000
    - https://???.okta.com

hello-okta-api:
  client:
    run-as-details:
      client-id: ???
      client-secret: ???

springdoc:
  swagger-ui:
    oauth:
      client-id: ???

user-cache:
  users:
    - name: ???
      password: ???
      roles:
        - APPLICATION_MONITOR